.password-main {
    margin: 4% auto;
    width: 80%;
}
.password-setting {
    width: 100%;
    text-align: center;
    color: #fe7e15;
    text-shadow: 1px 1px 3px #04a1f0;
    font-size: max(2.5vw, 25px);
    letter-spacing: 10px;
    margin-bottom: 8%;
}
.auth {
    width: 70%;
    margin: 0 auto;
}
/* ログインフォーム */
.password-form {
    margin-bottom: 8%;
}
.password-password,
.password-confirmation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 8%;
}
.password-title,
.confirmation-title {
    color: #fe7e15;
    text-shadow: 1px 1px 3px #04a1f0;
    font-size: max(1.5vw, 17px);
    letter-spacing: 5px;
    font-weight: bold;
    margin-bottom: 3%;
}
.password-input,
.confirmation-input {
    margin-bottom: 3%;
    font-size: max(1.7vw, 18px);
    padding: 2% 3%;
    background-color: #b2b2b2;
    border: none;
    border-radius: 10px;
    outline: none;
    letter-spacing: 3px;
    color: #787878;
}
.error {
    color: rgb(253, 13, 13);
    font-weight: bold;
    text-shadow: 3px 3px 3px rgb(249, 84, 84);
    font-size: max(1.4vw, 12px);
}
.password-input::placeholder,
.confirmation-input::placeholder {
    color: #787878;
}
.register-button {
    margin-top: 3%;
    text-align: center;
}
.button-submit {
    border: none;
    background-color: #a5a5a5;
    color: #fe7e15;
    text-shadow: 1px 1px 3px #d7d7d7;
    font-size: max(1.5vw, 17px);
    letter-spacing: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.button-submit:hover {
    text-shadow: 3px 3px 10px #ffffff;
}

/* 会員登録へ遷移 */
.register-move {
    text-align: center;
}
.register-link {
    font-weight: bold;
    text-decoration: none;
    color: #fe7e15;
    text-shadow: 1px 1px 3px #d7d7d7;
    font-size: max(1.3vw, 15px);
    letter-spacing: 5px;
    transition: 0.3s;
}
.register-link:hover {
    text-shadow: 2px 2px 7px #ffffff;
}

@media screen and (max-width: 786px) {
    .password-main {
        margin: 6% auto;
        width: 90%;
    }
    .auth {
        width: 80%;
    }
    .password-password,
    .password-confirmation {
        width: 70%;
    }
}

@media screen and (max-width: 586px) {
    .password-main {
        margin: 8% auto;
        width: 100%;
    }
    .auth {
        width: 95%;
    }
    .password-password,
    .password-confirmation {
        width: 80%;
    }
}